node_modules
.env
authPassport.controller.js
passport-oauth20.js
authPassport.routes.js








nodemon.json
note.md
require.md
schema.md
error.md
mongoose.md
src/logs/**
logs/**
generateOtp.js
sendMail.js



